DATABASE_URL="file:./prisma/dev.db"
SESSION_SECRET=""
BOOTSTRAP_ADMIN_USERNAME=""
BOOTSTRAP_ADMIN_PASSWORD=""
OPENVPN_STATUS_LOG="/var/log/openvpn/status.log"
OPENVPN_PKI_ISSUED_DIR="/etc/openvpn/server/easy-rsa/pki/issued"
OPENVPN_PKI_PRIVATE_DIR="/etc/openvpn/server/easy-rsa/pki/private"
OPENVPN_CCD_DIR="/etc/openvpn/server/ccd"
OPENVPN_SERVER_CONF="/etc/openvpn/server/server.conf"
OPENVPN_INSTALL_SCRIPT="/opt/openvpn-install/openvpn-install.sh"
MANUAL_CLIENT_OVPN_SCRIPT="/opt/openvpn-install/manual-client-ovpn.sh"
OPENVPN_OVPN_OUTPUT_DIR="/etc/openvpn/server/easy-rsa/pki"
OPENVPN_CA_CERT="/etc/openvpn/server/easy-rsa/pki/ca.crt"
OPENVPN_MGMT_SOCK="/var/run/openvpn-server/server.sock"
OPENVPN_SERVER_HOST="YOUR_SERVER_IP"
NEXT_PUBLIC_APP_URL="https://your-domain.com"
PORT=3000
